.footer {
    background-color: #ffffff;
    display: flex;
}

.footer>p {
    font-size: 15px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
}

.footer>span {
    font-size: 14px;
    color: #004A80;
    letter-spacing: 0;
    font-weight: bold;
    white-space: nowrap;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 14px 15px 25px 15px;
    }

    .footer>p {
        max-width: 290px;
    }

    .footer>span {
        margin-top: 20px;
    }
}

/* Tablet & Desktop Shared */
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer {
        padding: 14px 25px 14px 25px;
    }

    .footer>p {
        max-width: 575px;
        margin-right: 40px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .footer {
        padding: 14px 121px 14px 130px;
    }

    .footer>p {
        max-width: 960px;
        margin-right: 40px;
    }
}