/* General */
.result {
    max-width: 100%;
    background-color: var(--white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    border-radius: 30px;
}

.result .icon div {
    background-color: var(--default-blue);
    border-radius: 50%;
}

.result .info>h2 {
    color: var(--default-blue);
    font-weight: bold;
    letter-spacing: 0;
    font-size: 32px;
}

.result .info p {
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
}

.result .info .col {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.result .info .row .col h3 {
    color: var(--default-blue);
    font-weight: bold;
    letter-spacing: 0;
}

.result .info .row .col span {
    font-size: 16px;
    color: var(--default-blue);
    letter-spacing: 0;
    line-height: 24px;
    font-weight: normal;
}

.result .info .row .col p {
    margin-top: 5px;
}

.result .info .row .col span.first-number {
    margin-top: 5px;
}

/* Mobile & Tablet shared */
@media (min-width: 320px) and (max-width: 1024px) {
    .result .info p {
        font-size: 16px;
    }

    .result .info>p {
        margin-top: 7px;
    }

    .result .info .row .col h3 {
        font-size: 20px;
        margin-top: 15px;
    }

    .result .info .row .col p.last_relative {
        margin-top: 0px;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    main .result {
        max-width: 290px;
    }

    .result .icon {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .result {
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 25px 15px 25px 15px;
    }
}

/* Mobile landscape only */
@media (min-width: 481px) and (max-width: 767px) {
    .result {
        display: flex;
        flex-direction: row;
        max-width: 481px;
    }

    .result .icon {
        margin-right: 10px;
    }

    .result .icon div img {
        width: 40px;
    }

    .result .icon div {
        padding: 13px 15px 11px 15px;
    }

    .result .info .row {
        display: flex;
        flex-direction: row;
    }

    .result .info .row .col.first-col {
        margin-right: 15px;
    }
}

/* Tablet & Desktop Shared */
@media (min-width: 768px) {
    .result {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .result .icon {
        margin-right: 20px;
    }

    .result .info .row {
        display: flex;
        flex-direction: row;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .result {
        padding: 30px 30px 25px 30px;
    }

    .result .icon div {
        padding: 23px 25px 21px 25px;
    }

    .result .icon div img {
        width: 40px;
    }

    .result .info .row .col {
        width: 280px;
    }

    .result .info .row .col.first-col {
        margin-right: 25px;
    }
}

/* Desktop */
@media (min-width: 1025px) {

    .result {
        padding: 40px 60px 40px 40px;
    }

    .result .icon div {
        padding: 23px 25px 21px 25px;
    }

    .result .icon div img {
        width: 40px;
    }


    .result .info p {
        font-size: var(--default-font-size);
    }

    .result .info>p {
        margin-top: 7px;
    }

    .result .info .row .col {
        width: 360px;
    }

    .result .info .row .col.first-col {
        margin-right: 50px;
    }

    .result .info .row .col h3 {
        font-size: 22px;
        margin-top: 15px;
    }
}