.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004A80;
    color: #ffffff;
}

/* Search title and paragraph */
.search-section .top-text {
    text-align: center;
    letter-spacing: 0;
}

.search-section .top-text h1,
.search-section .top-text span {
    font-weight: bold;
}

/* Search input and button */
.search-section .input-section>#searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-section .input-section>#searchForm input {
    border: none;
    border-radius: 3px;
    text-indent: 12px;
}

.search-section .input-section>#searchForm input[type=text]::placeholder {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #9B9B9B;
    line-height: 18px;
}

.search-section .input-section>#searchForm input[type=text] {
    font-size: 22px;
    color: #000000;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    padding: 0px;
}

.search-section .input-section>#searchForm input[type=text]:focus {
    box-shadow: 0 0 0 2px #F6BC25;
}

.search-section .input-section>#searchForm input[type=text].error {
    box-shadow: 0 0 0 2px #DC0015;
}

.search-section .input-section>#searchForm #searchBtn {
    /* font style */
    font-weight: bold;
    color: #004A80;
    text-transform: uppercase;
    /* input style */
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    border: unset;
}

.search-section .input-section>#searchForm #searchBtn:hover {
    background-image: none;
    background-color: #F2DA56;
}

.search-section .input-section>#searchForm #searchBtn:active {
    background-image: none;
    background-color: #F6BC25;
}

.search-section .input-section #errorLabel {
    visibility: hidden;
    position: absolute;
    top: unset!important;
    left: unset!important;
    display: block;
    padding: 0.5rem 0.5rem;
    margin-left: 0;
    margin-top: 0;
    /* font style */
    font-size: 16px;
    background-color: #DC0015;
    color: #fff;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: normal;
}

.input-label {
    display: block;
    position: absolute;
    opacity: 0;
    top: unset!important;
    left: unset!important;
    margin-top: -4rem;
    margin-left: 0.8rem;
}

.input-text:placeholder-shown+.input-label {
    visibility: hidden;
    z-index: -1;
}

.input-text:not(:placeholder-shown)+.input-label,
.input-text:focus:not(:placeholder-shown)+.input-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    /* text style */
    font-weight: bold;
    color: #9B9B9B;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
}

/* Bottom paragraph */
.search-section .bottom-text {
    width: 100%;
    display: flex;
    margin-top: 20px;
    text-align: left;
}

.search-section .bottom-text .icon {
    width: 15px;
    height: 19px;
}

.search-section .bottom-text p {
    font-size: 16px;
    color: #F6BC25;
    letter-spacing: 0;
    font-weight: bold;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {

    /* Search title and paragraph */
    .search-section {
        padding: 10px 15px 40px 25px;
    }

    .search-section .top-text h1 {
        font-size: 38px;
    }

    .search-section .top-text p {
        margin-top: 10px;
        line-height: 23px;
    }

    /* Search input and button */
    .search-section .input-section>#searchForm {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .search-section .input-section>#searchForm input {
        width: 100%;
        height: 50px;
    }

    .search-section .input-section>#searchForm #searchBtn {
        margin-top: 10px;
        /* font style */
        font-family: lato;
        font-size: 22px;
        letter-spacing: 0.93px;
    }

    /* Bottom paragraph */
    .search-section .bottom-text .icon {
        margin-right: 10px;
    }

    /* Input float label */
    .input-text:not(:placeholder-shown)+.input-label,
    .input-text:focus:not(:placeholder-shown)+.input-label {
        font-size: 14px;
        top: -18px;
    }

    .input-label {
        margin-top: -4.2rem;
        margin-left: 0.7rem;
    }
}

/* Tablet & Desktop Shared */
@media (min-width: 768px) {

    /* Search title and paragraph */
    .search-section .top-text p {
        margin-top: 15px;
    }

    /* Search input and button */
    .search-section .input-section>#searchForm input {
        height: 70px;
    }

    .search-section .input-section>#searchForm input[type=text] {
        margin-right: 20px;
    }

    .search-section .input-section>#searchForm #searchBtn {
        width: 180px;
        font-size: 24px;
        letter-spacing: 1px;
    }

    /* Bottom paragraph */
    .search-section .bottom-text .icon {
        margin-right: 15px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    /* Search title and paragraph */
    .search-section {
        padding: 30px 25px 60px 25px;
    }

    .search-section .top-text h1 {
        font-size: 48px;
    }

    .search-section .top-text p {
        line-height: 25px;
        font-size: 20px;
    }

    /* Search input and button */
    .search-section .input-section>#searchForm {
        margin-top: 28px;
        flex-direction: row;
    }

    .search-section .input-section>#searchForm input[type=text] {
        width: 518px;
    }
}

/* Desktop */
@media (min-width: 1025px) {

    /* Search title and paragraph */
    .search-section {
        padding: 30px 230px 95px 230px;
    }

    .search-section .top-text h1 {
        font-size: 52px;
    }

    .search-section .top-text p {
        line-height: 29px;
        font-size: 24px;
    }

    /* Search input and button */
    .search-section .input-section>#searchForm {
        margin-top: 29px;
        flex-direction: row;
    }

    .search-section .input-section>#searchForm input[type=text] {
        width: 780px;
    }
}