/* General */
/* Navbar */

/* main content */
/* cards */
.main .cards {
    display: flex;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .main .cards {
        flex-direction: column;
        margin-top: 20px;
    }
}

/* Tablet & Desktop Shared */
@media (min-width: 768px) {
    /* Main content */
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .cards {
        flex-direction: row;
        justify-content: center;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .main .cards {
        margin-top: 30px;
    }

    .main .cards .col.first-col {
        margin-right: 24px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .main .cards {
        margin-top: 40px;
    }

    .main .cards .col.first-col {
        margin-right: 60px;
    }
}