:root {
    --span-color: #F6BC25;
    --nav-background-color: #004A80;
    --cards-background-color: #004A80;
    --title-color: #004A80;
    --text-color: #000000;
}

@font-face {
    font-family: helveticaneue;
    src: url(/src/fonts/helveticaneue/helveticaneu-regular.ttf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: helveticaneue;
    src: url(/src/fonts/helveticaneue/helveticaneu-bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: lato;
    src: url(/src/fonts/lato/lato-bold.ttf);
    font-weight: bold;
    font-display: swap;
}

body /deep/ {
    font-family: helveticaneue;
    font-weight: normal;
}

body p {
    font-size: 18px;
}

h1 {
    font-family: helveticaneue;
    font-weight: bold;
}

/* cards */
#main .cards {
    display: flex;
}