@font-face {
    font-family: helveticaneue;
    src: url(../fonts/helveticaneue/helveticaneu-regular.ttf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: helveticaneue;
    src: url(../fonts/helveticaneue/helveticaneu-bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/lato-bold.ttf);
    font-weight: bold;
    font-display: swap;
}

/* Global CSS variables (apply on Shadow Dom too) */
:root {
    --default-font: helveticaneue;
    --default-font-size: 18px;
    --default-yellow: #F6BC25;
    --light-yellow: #F2DA56;
    --default-blue: #004A80;
    --default-red: #DC0015;
    --black: #000000;
    --light-grey: #E6E6E6;
    --white: #FFFFFF;
}

body {
    font-family: var(--default-font);
    font-weight: normal;
}

body p {
    font-size: var(--default-font-size);
}

h1 {
    font-family: var(--default-font);
    font-weight: bold;
}

#loader {
    display: none;
    max-height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, var(--light-grey) 0%, var(--white) 100%);
}