@font-face {
    font-family: helveticaneue;
    src: url(../fonts/helveticaneue/helveticaneu-regular.ttf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: helveticaneue;
    src: url(../fonts/helveticaneue/helveticaneu-bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/lato-bold.ttf);
    font-weight: bold;
    font-display: swap;
}

:root {
    --default-font: helveticaneue;
    --span-color: #F6BC25;
    --nav-background-color: #004A80;
    --cards-background-color: #004A80;
    --title-color: #004A80;
    --text-color: #000000;
}

body {
    font-family: var(--default-font);
    font-weight: normal;
}

body p {
    font-size: 18px;
}

h1 {
    font-family: var(--default-font);
    font-weight: bold;
}

#loader {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
}